In [63]:
#Question 1
def multi_seven():
    '''finds all numbers that are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included) and prints them in a comma-separated sequence on a single line.'''
    div_seven=[]
    
    # Finds all numbers between 2000 and 3200 both included
    # Filters all multiples of seven that aren't multiples of 5
    #converts the value from int to string and adds it to a list
    for i in range(2000,3201):
        if i%7==0 and i%5==1:
            div_seven.append(str(i))
            
    #converts the list obtained from the loop into a string
    #prints in a comma-separated sequence on a single line.
    stringzy=", ".join(div_seven)
    print(stringzy) 
    
    
multi_seven()

2016, 2051, 2086, 2121, 2156, 2191, 2226, 2261, 2296, 2331, 2366, 2401, 2436, 2471, 2506, 2541, 2576, 2611, 2646, 2681, 2716, 2751, 2786, 2821, 2856, 2891, 2926, 2961, 2996, 3031, 3066, 3101, 3136, 3171

In [62]:
#Question 2
def fact():
    
    #prompts the user to enter a number and converts the input into an integer
    user_input=int(input("Enter a number to find it's factorial: "))
    
    #Initialize a function to calculate the factorial of the entered number
    #returns 1 if the number is zero or once since their factorial is equal to one
    #else calaulates the factorial of the number if the number is greater then one
    def facto(num):
        if num == 0 or num == 1:
            return 1
        else:
            return num*facto(num-1)
        
    #stores the factorial in result variable
    result = facto(user_input)
    print(result)
    

fact()

Enter a number to find it's factorial:  4

24

In [61]:
# Question 3
def integral_dict(): #Initialize the function
    
    #Prompt the user to enter a number and converts the input into an integer
    user_input = int(input("Please enter a number")) 
    
    #Instantiate a dictionary
    int_dict=dict() 
    
    #iterate over the numbers between 1 and the given input, both included
    #creates a dictionary with the number as the key and the square of the number as the value
    for i in range(1, user_input+1):
        int_dict[i]=i*i
    
    #prints the dictionary
    print(int_dict) 
    
integral_dict()

Please enter a number 8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [64]:
# Question 4
def list_tuple():
    #Prompt the user to enter a sequence of comma separated numbers and converts the input into a ist
    user_input=input("Enter a sequence of comma separated numbers").split(",")
    
    #converts the list into a tuple
    tups=tuple(user_input)
    
    #prints the user input both as a list and tuple
    print(user_input,tups)

list_tuple()

Enter a sequence of comma separated numbers 8,9,9

['8', '9', '9'] ('8', '9', '9')

In [68]:
# Question 5
#creates a class Q5
class Q5:
    def __init__(self):
        self.user_input="A statement is needed"
        
    #initializes a method getString that prompts the user to enter a statement of their choice
    def getString(self):
        self.user_input=input('Enter a statement of your choice')
    
    #initializes a method printString that converts the user_input into uppercase
    def printString(self):
        print(self.user_input.upper())
        
#Initializes a function in which a class object is instantiated
#the two methods in the object created are called
def funky():
    gig=Q5()
    gig.getString()
    gig.printString()
    
funky()

Enter a statement of your choice hyi

HYI

In [69]:
#Question 6
def Q6():
    H=30
    C=50
    
    #prompts the user to enter a sequence of comma separated numbers and converts the input into a list
    user_input=input("Please enter a sequence of comma separated numbers").split(",")
    
    #iterates over the user_input list
    #for each iteration, it converts the element into a integer and saves it to the variable D
    #performs the arithmetic operation
    #and prints the result obtained in each iteration
    for i in user_input:
        D=int(i)
        Q=round(((2 * C * D)/H)**0.5)
        print(Q,end=", ")
Q6()

Please enter a sequence of comma separated numbers 5,8,9

4, 5, 5,

In [70]:
#Question 8
#initialize a function
def sortQ8():
    
    # Prompt the user to enter a sequence of comma separated words and converts the input into a list
    user_input=input("Please enter a sequence of comma separated words").split(",")
    
    # sorts the list in reverse order
    user_input.sort(reverse=True)
    
    # prints the user i put sorted in reverse order
    print(user_input)
    
sortQ8()

Please enter a sequence of comma separated words mt, krnya

['mt', ' krnya']

In [14]:
#Question 9
def upperQ9():
    
    # propts the user to enter a sequence of lines 3 times and saves the input in a variable user_input
    # prints each statement stored in the variable
    user_input=[input("Please enter a sequence of lines.").upper() for i in range(1,4)]
    for i in user_input:
        print(i)
upperQ9()

Please enter a sequence of lines. fga
Please enter a sequence of lines. dfgdaf
Please enter a sequence of lines. dfgdaf

FGA
DFGDAF
DFGDAF

In [15]:
# Question 10
def Q10():
    
    # prompts the user to enter a sequence of words separated by white spaces and converts the input into a list
    # sorts the user_input list
    #and prints out the list
    user_input=list(set(input("Please a sequence of word separated by witespaces").split(" ")))
    user_input.sort()
    print(user_input)
    
Q10()

Please a sequence of word separated by witespaces mike nelly kim

['kim', 'mike', 'nelly']

In [16]:
#Question 41
def tupQ41():
    
    # instantiate an empty list
    # squares every number between 1 and 20 both included and appends them to the list
    squared=list()
    for i in range(1,21):
        squared.append(i**2)
    
    # converts the list into a tuple
    squared=tuple(squared)
    print(squared)
    
tupQ41()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

In [32]:
#Question 42
import math
len(Q42)
def tupQ42(tups=(1,2,3,4,5,6,7,8,9,10)):
    midpoint=math.ceil(len(tups)/2)
    print(tups[:midpoint],tups[midpoint:], sep="\n")
    
tupQ42((1,2,3,4,5,6,7,8,9,10,11,12))

(1, 2, 3, 4, 5, 6)
(7, 8, 9, 10, 11, 12)

In [ ]:
#43
def tupQ43():
    tups=(1,2,3,4,5,6,7,8,9,10)
    tuplist=[]
    for i in tups:
        if i%2==0:
            tuplist.append(i**2)
    print(tuple(tuplist))
tupQ43()

In [2]:
#44
def Q44():
    user_input=input("yes or YES or Yes")
    if user_input=='yes' or user_input=='YES' or user_input=='Yes':
        print("Yes")
    else:
        print("No")

Q44()

yes or YES or Yes lop

No

In [40]:
#45
def Q45():
    numlst=[1,2,3,4,5,6,7,8,9,10]

    evens=list(filter(lambda i : i%2==0,numlst))
    print(evens)
Q45()

[2, 4, 6, 8, 10]

In [44]:
#46
def Q46():
    numlst=[1,2,3,4,5,6,7,8,9,10]
    squared=list(map(lambda i : i*i, numlst))
    print(squared)
    
    
Q46()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [45]:
#47
def Q47():
    numlst=[1,2,3,4,5,6,7,8,9,10]
    squared_evens=list(map(lambda i : i*i, filter(lambda i : i%2==0,numlst)))
    print(squared_evens)
    
Q47()

[4, 16, 36, 64, 100]

In [48]:
#48
def Q48():
    even=list(filter(lambda i: i%2==0, range(1,21)))
    print(even)
    
Q48()

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [49]:
#49
def Q49():
    squares=list(map(lambda i: i*i, range(1,21)))
    print(squares)
    
Q49()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [69]:
#50
class  American():
    def __init__(self):
        self.nationality="American"
    
    @staticmethod
    def printNationality(nationality):
        print(nationality)
Trump=American()
American.printNationality("Kenyan")

Kenyan

In [76]:
#51
class  American():
    def __init__(self):
        self.nationality="American"
    
    @staticmethod
    def printNationality(nationality):
        print(nationality)
        
class NewYorker(American):
    def __init__(self,city):
        self.city=city
        
    def hood(self):
        return self.city
        
        
Curtis_Jackson=NewYorker("New York City")
Curtis_Jackson.hood()

'New York City'

In [10]:
#52
class circle():
    def __init__(self,r):
        self.r=r
        self.perimeter=3.142*r*2
        
    @classmethod
    def radius(self,r):
        self.area=3.142*r*r
        return self(r)
    
    #def calc_area(self,r):
        
        
mycircle=circle.radius(7)
Hiscircle=circle.radius(8)

print("My circle radius is ", mycircle.r,"cm while perimetr is ",mycircle.perimeter, "cm and area is ",mycircle.area," square cm", sep="")
print("His circle radius is ",Hiscircle.r,"cm while perimeter is ",Hiscircle.perimeter,"cm", sep="")

My circle radius is 7cm while perimetr is 43.988cm and area is 201.088 square cm
His circle radius is 8cm while perimeter is 50.272cm

In [19]:
#53
class Rectangle():
    def __init__(self,l,w):
        self.perim=(l+w)*2
        self.l=l
        self.w=w
    @classmethod   
    def from_l_w(self,l,w):
        self.area=l*w
        return self(l,w)
    
fst=Rectangle.from_l_w(7,6)
print(fst.area)

42

In [29]:
#54
class Shape():
    def __init__(self):
        self.area=0           
    
    def areas(self):
        print(self.area)
class Square(Shape):
    def __init__(self,l):
        self.l=l
        self.w=l
    
    def areas(self):
        print(self.l*self.w)
myshape=Square(5)
myshape.areas()

In [57]:
#55
def cstm_err(x):
    if not str(x).isnumeric():
        raise Exception("Only numbers are allowed")
    else:
        print(x)

In [59]:
cstm_err("5")

5

In [42]:
?str

Init signature: str(self, /, *args, **kwargs)
Docstring:
str(object='') -> str
str(bytes_or_buffer[, encoding[, errors]]) -> str

Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).
encoding defaults to sys.getdefaultencoding().
errors defaults to 'strict'.
Type:           type
Subclasses:     DeferredConfigString, _rstr, LSString, include, ColorDepth, Keys, InputMode, CompleteStyle, SortKey

In [82]:
class gp_strings(): # creates a class 'gp_strings'
    def _init_(self, name, height, number):
        self.name=name
        self.height=height
        self.number=number
        #self.str3
    
    def getStrings(self,name, height,telephone):
        self.name=name
        self.height=height
        self.number=telephone
        self.str3=self.name,self.height
    
    def print_string(self): # defining a another method 'print_string'
        print(self.str3)
        
        
# instantiating an object called ex...it's an object of the class gp_strings     
ex=gp_strings()

# calling the getStrings method of the ex object
ex.getStrings("John", 172, 705690)

# calling the print_string method of the ex object
ex.print_string()

('John', 172)

In [25]:
print(type(ex))

<class '__main__.gp_strings'>

In [24]:
ex.getStrings("John", 172, 705690)
ex.print_string()

('John', 172)

In [111]:
class People:
    def __init__(self,n,p,q,m):
        self.name=n
        self.age=p
        self.height=q
        self.nationality=m
        self.details={}
        #Data=People('Joe',22,70).Person() # creating an object 'Data'
    def Persons_details(self):
        self.details={ 'Name':self.name,
                 "Age":self.age,
                 'Height': self.height,
                 'Nationality':self.nationality
                }

    

    
Joy= People("Joy", 24, "168 cm", "Kenyan")
Joy.Persons_details()
print(Joy.details)

{'Name': 'Joy', 'Age': 24, 'Height': '168 cm', 'Nationality': 'Kenyan'}

In [103]:
Joy.prints()

{'Name': 'Joy', 'Age': 24, 'Height': '168 cm', 'Nationality': 'Kenyan'}

In [98]:
Joy.prints()

{'Name': 'Joy', 'Age': 24, 'Height': '168 cm', 'Nationality': 'Kenyan'}

In [56]:
class human():
    def __init__Jonationality=nationality
        self.tribe=tribe
        #self.Color=Color
        #self.engine=engine

In [57]:
Allan=human("Male","Kenyan", "Luo")

In [58]:
Allan.tribe

'Luo'

In [67]:
class Hilux():
    def __init__(self):
        self.color="Black"
        self.engine="2500 cc"
        self.cabins="Double-Cabin"
        
    def customize_color(self,color):
        self.color=color

In [68]:
Alans=Hilux()

In [69]:
Alans.customize_color("Blue")

In [71]:
Alans.engine

'2500 cc'

In [23]:
class Human_being():
    def __init__(self):
        self.name=input("Enter Name")
    
    class Kingdom():
        def __init__(self):
            self.kingdom=input("Enter Kingdom")

        class Division():
            def __init__(self):
                self.division=input("Enter Division")

            class Phylum():
                def __init__(self):
                    self.phylum=input("Enter Phylum")

                class Class():
                    def __init__(self):
                        self.Class=input("Enter Class")

                    class Family():
                        def __init__(self):
                            self.family=input("Enter Family")

                        class Order():
                            def __init__(self):
                                self.order=input("Enter Order")

In [24]:
Allan = Human_being()

Enter Name Allan

In [26]:
Allan.Kingdom()

Enter Kingdom Mammalia